# TeX file output
*.aux
*.log
*.out

# pycache dirs
**__pycache__

# tex templates used for creating raw strings
tex_templates/*

# input files
in/*

# output files
out/*

# yaml config - dont push personal info to GH
*.yml

# test reports
docs/testreports/*

# local file used for building my own resume
test.py